.left ,
.middle,
.right {
    display: flex;
    align-items: center;
}

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(240, 240, 240);
    z-index: 100;
}

.hamburger-icon {
    height: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.youtube-icon {
    height: 20px;
}

.middle {
    flex: 1;
    margin-left: 70px;
    margin-right: 40px;
    max-width: 500px;
}

.textbox {
    flex: 1;
    height: 36px;
    font-size: 16px;
    padding-left: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 4px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05); 
    width: 0;

}
 /* box shadow inset/outset + horizontal + vertical + blur */

.textbox::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-icon {
    height: 39px;
    width: 60px;
    margin-right: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    margin-left: -1px;
    background-color: rgb(240, 240, 240);
    margin-right: 10px;
    position: relative;

}

.search-icon .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
}

.search-icon:hover .tooltip {
    opacity: 1;
}

.search-picture {
    height: 25px;
    margin-top: 2px;
}

.voice-search-icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
    position: relative;
}


.voice-search-icon .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -42px;
    opacity: 0;
}

.voice-search-icon:hover .tooltip {
    opacity: 1;
}

.mic-picture {
    height: 24px;
    margin-top: 4px;
}

.right {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.create-picture {
    height: 25px;
}

.apps-picture {
    height: 25px;

}

.notif-picture{
    height: 25px;
}

.notification-counter-relative {
    position: relative;
}
.notification-counter {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: rgb(172, 1, 1);
    font-family: Roboto, Arial;
    font-size: 11px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    
}

.youtuber-picture {
    height: 32px;
    border-radius: 20px;
}

